.toolbar .button {
	margin: 10px;
	float: left;
}

.toolbar {
	clear: both;
}

.fs-item {
	display: block;
	clear: both;
	background-repeat: no-repeat;
	padding: 10px;
	padding-left: 50px;
}

.fs-item {
	display: block;
	clear: both;
	background-repeat: no-repeat;
	padding: 10px;
	padding-left: 50px;
}

.fs-item:nth-child(even) {
	background-color: #CCC;
}

.fs-item:nth-child(odd) {
	background-color: #EEE;
}