html, body, #main-container {
	border: 1px solid green;
	height: 100%;
	padding: 0;
	margin: 0;
}

div {
	border: 1px solid red;
}

.clear {
	clear: both;
}

.panel {
	border: 1px solid blue;
	height: 100%;
}


.sidebar, .center {
	height: 100%;
}

.sidebar {
	width: 20%;
	float: left;
}
.center {
	width: 79%;
	float: right;
}


.title, .toolbar {
	height: 50px;
}

.tree, .content {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
}


.button {
	float: left;
	width: 100px;
	height: 50px;
}
