<div class="panel notes">

	<div class="title">NOTES</div>
	<div class="toolbar">
		<div class="button" data-action="new-note">Create Note</div>
		<div class="button" data-action="search">Search</div>
	</div>

	<div class="sidebar"></div>

	<div class="content"></div>

	<div class="footer"></div>

	<!--div class="clear" /-->
</div>
