<li class="tree-node {{#if children}}parent{{/if}}" data-id="{{ id }}">
	<span class="tree-node-title" data-id="{{ id }}">{{ title }}</span>
{{#if children}}
	<ul class="children"></ul>
{{/if}}
</li>
