<div class="fs">
	<div class="toolbar">
		<div class="button new-folder" data-click="create-folder">Create Folder</div>
		<div class="button new-file" data-click="create-file">Create File</div>
	</div>

	<div class="content">
		{{{files}}}
	</div>
</div>