<div class="panel notes">

	<div class="sidebar">
		<div class="title">NOTES</div>
		<div class="tree" />
	</div>

	<div class="center">
		<div class="toolbar">
			<div class="button" data-action="new-note">Create Note</div>
			<div class="button" data-action="search">Search</div>
		</div>

		<div class="content" />
	</div>

	<!--div class="clear" /-->
</div>